name: QA

on:
  pull_request:
  push:

jobs:
  qa:
    name: Run QA
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Select NodeJS version
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          # renovate: datasource=docker depName=node versioning=node
          node-version: "20.12.2"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Lint ESLint
        run: yarn lint:eslint
      - name: Lint TSC
        run: yarn lint:tsc
      - name: Lint Prettier
        run: yarn lint:prettier
      - name: Build
        run: yarn build
